.signContainer_{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; 
    margin: 2rem;
}

.signContainer {
    max-width: var(--container-width-md);
    min-width: var(--container-width-sm);
    min-height: 100vh;
    font-size: 14px;
    display: flex;
    box-shadow: 5px 5px  5px var(--color-tertiary-tint4);
}

.targets {
    display: flex;
    justify-content: center;
    width: 100%;
}

.signutarget {
    flex-basis: 50%;
    align-items: center;
    background-color: var(--color-primary);
    padding: 120px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--container-width-sm);
}

.signufform {
    flex-basis: 50%;
    background-color: var(--color-white);
    padding: 1.5rem;

}

.signueach {
    justify-content: space-between;
    color: var(--color-white);
    margin-top: 50px;
    border: 2px solid var(--color-white);
    min-width: 80%;
    align-content: center;
    padding: 10px;
}


.signueach1 {
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
}

.already {
    color: var(--color-white);
    margin: 30px;
}

.signlink {
    color: var(--color-secondary);
}

.lohosm {
    width: 20%;
    justify-content: start;
}

.signutargetm{
    display: none;
    visibility: hidden;
}


.signtext {
    display: none;
    visibility: hidden;
    margin: 1rem;
}

.form_inp {
    border-bottom: 1px solid var(--color-tertiary);
    border-radius: 0;
    font-size: 11px;
}

.form_select{
    border-bottom: 1px solid var(--color-tertiary);
    border-radius: 0;
    font-size: 12px;
}

.sign_form {
    width: 100%;
    margin: auto;
}

.signup-logo, .post_sign_dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign_bt {
    width: 90%;
    padding: 10px;
    background-color: var(--color-secondary);
    border-radius: 3px;
    font-weight: bolder;
    color: var(--color-white);
    margin:auto;
}

.post_sign {
    align-self: center;
    margin: auto;
    width: 90%;
}

.already1 {
    font-size: small;
    padding: 10px;
    margin-bottom: 40px;
}

.signalt {
    color: var(--color-secondary);
    font-weight: bold;
}

.google-bt{
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 6px;
    border-radius: 3px;
    font-weight: bolder;
    color: var(--color-white);
    margin-top: 0.3rem;
}

.dash-bt{
    background: var(--color-white);
    color: black;
    font-size: 12px;
}

.google-icon{
    font-size: 22px;
    padding-right: 6px;
}

@media(max-width:870px) {
    .signContainer_{
        margin:1rem -3rem;
    }
    .signufform {
        flex-basis: 100%;
    }
    .signutarget {
        display: none;
        visibility: hidden;
    }

    .signtext {
        display: block;
        visibility: visible;
        color: var(--color-primary);
        text-align: center;
    }

    .targets {
        display: flex;
        visibility: visible;
        align-items:center;
        justify-content: center;
        width: 100%;
    }

    .signutargetm {
        display: flex;
        visibility: visible;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        /* margin: 10px 40px; */
    }
    
    .signueachm {
        width: 30%;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        border-radius: 5px;
        min-height: 45px;
        max-height: 60px;
        margin: 5px 5px;
        padding: 5px;
        font-size: 12px;
    }
    
    .signueach1ms {
        width: 100%;
        color: var(--color-white);
        border: 1px solid var(--color-primary);
        border-radius: 5px;
        min-height: 45px;
        max-height: 60px;
        padding:5px;
        background-color: var(--color-primary);
    }
    
    .signutargetm {
        
        
        text-align: center;
        
    }

    .targetIcon{
        padding:1px 10px ;
        color: var(--color-primary);
        font-size:large;
        font-weight: medium;
    }

    .targetText {
        font-size:10px;
    }

    .sign_form {
        width: 100%;
        margin: auto;
    }
}